@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Gaegu&family=Nova+Flat&display=swap');
/*
  font-family: "Atkinson Hyperlegible", sans-serif;
    font-family: "Gaegu", sans-serif;
      font-family: "Nova Flat", system-ui;

*/


body {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

#newspaper-headline {
/* color: red; */
    text-transform: uppercase;
    font-family: "Nova Flat", system-ui;
}

/* HIDING BORDERS FOR THE ROWS */

.item-title{
    border-right: none !important;
}

.item-budget {
    border-left: none !important;
    border-right: none !important;
}

.item-percentage {
    border-left: none !important;
}

/* SETTING INPUT WIDTHS  */

.item-budget-input{
    width: 100px;
}

.item-percentage {
    width: 50px;
}

.item-alert{
    display: none;
}

/* FONT STYLING FOR HEADINGS AND TITLES */

.heading{ /*  Heading for entire table */
    font-family: "Gaegu", sans-serif;
    font-weight: normal;
    font-size: 2em;
}


.section-title{ /*  Title of the section in th etable, like "Books and materials"  */
    font-weight: bold;
}

.item-title{  /*  Title of the specific row  */
    padding-left: 40px !important;

}

/* TABLE DESIGN */

table{
    

    border-color:black;
    border-style:solid;
    border-width:1px;

}
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    padding:10px 5px;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    padding:10px 5px;
}


/*  */

.button {
    display: inline-flex;
    padding: 8.687px;
    justify-content: center;
    align-items: center;
    gap: 5.791px;
    border-radius: 8px;
    border: 0.579px solid #000;

&.submit{
    float: right;
    background: #EBFFE3;
}

&:hover {
    box-shadow: 1px 6px 10px grey;



}

}

/*  */

.center-body {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.off {
    pointer-events: none;
}

.red {
    color: red;
}


/* ANIMATIONS */

/* https://stackoverflow.com/questions/71813422/how-would-i-make-a-transition-for-the-div-to-slide-to-the-left-and-come-out-thro */
@keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100vw);
      opacity: 1;
    }
    50.001% {
      opacity: 0;
      transform: translateX(100vw);
    }
    50.002% {
      opacity: 1;
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0);
    }
  }